<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oa.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.oa.model.Employee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="custom_code" property="customCode" jdbcType="VARCHAR" />
    <result column="custom_price_num" property="customPriceNum" jdbcType="VARCHAR" />
    <result column="custom_name" property="customName" jdbcType="VARCHAR" />
    <result column="join_date" property="joinDate" jdbcType="TIMESTAMP" />
    <result column="pay_code" property="payCode" jdbcType="VARCHAR" />
    <result column="service_status" property="serviceStatus" jdbcType="INTEGER" />
    <result column="employment_form" property="employmentForm" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="agreement_id" property="agreementId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.oa.dto.EmployeeDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="custom_code" property="customCode" jdbcType="VARCHAR" />
    <result column="custom_price_num" property="customPriceNum" jdbcType="VARCHAR" />
    <result column="custom_name" property="customName" jdbcType="VARCHAR" />
    <result column="join_date" property="joinDate" jdbcType="TIMESTAMP" />
    <result column="pay_code" property="payCode" jdbcType="VARCHAR" />
    <result column="service_status" property="serviceStatus" jdbcType="INTEGER" />
    <result column="employment_form" property="employmentForm" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="joinDateStr" property="joinDateStr" jdbcType="VARCHAR" />
    <result column="agreement_id" property="agreementId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, id_card, custom_code, custom_price_num, custom_name, join_date,
    pay_code, service_status, employment_form, create_time, creater, update_time, updater, 
    is_del, agreement_id
  </sql>
  <sql id="Base_Column_List1" >
    id, code, name, id_card, custom_code, custom_price_num, custom_name, join_date,
    pay_code, service_status, employment_form, create_time, creater, update_time, updater,
    is_del,date_format(join_date,'%Y-%c-%d') joinDateStr，agreement_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap1" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List1" />
    from oa_employee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from oa_employee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.oa.dto.EmployeeDto" flushCache="true">
    insert into oa_employee (code, name,
      id_card, custom_code, custom_price_num,
      custom_name, join_date,
      pay_code, service_status, employment_form, 
      create_time, creater, agreement_id, is_del)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{idCard,jdbcType=VARCHAR}, #{customCode,jdbcType=VARCHAR}, #{customPriceNum,jdbcType=DECIMAL},
      #{customName,jdbcType=VARCHAR}, #{joinDate,jdbcType=TIMESTAMP},
      #{payCode,jdbcType=VARCHAR}, #{serviceStatus,jdbcType=INTEGER}, #{employmentForm,jdbcType=INTEGER}, 
      now(), #{creater,jdbcType=BIGINT}, #{agreementId,jdbcType=BIGINT},0)
  </insert>
  <insert id="insertSelective" parameterType="com.oa.dto.EmployeeDto" >
    insert into oa_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="customCode != null" >
        custom_code,
      </if>
      <if test="customPriceNum != null" >
        custom_price_num,
      </if>
      <if test="customName != null" >
        custom_name,
      </if>
      <if test="joinDate != null" >
        join_date,
      </if>
      <if test="payCode != null" >
        pay_code,
      </if>
      <if test="serviceStatus != null" >
        service_status,
      </if>
      <if test="employmentForm != null" >
        employment_form,
      </if>
        create_time,
      <if test="creater != null" >
        creater,
      </if>
      <if test="agreementId != null">
        agreement_id,
      </if>
      is_del
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="customCode != null" >
        #{customCode,jdbcType=VARCHAR},
      </if>
      <if test="customPriceNum != null" >
        #{customPriceNum,jdbcType=DECIMAL},
      </if>
      <if test="customName != null" >
        #{customName,jdbcType=VARCHAR},
      </if>
      <if test="joinDate != null" >
        #{joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payCode != null" >
        #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceStatus != null" >
        #{serviceStatus,jdbcType=INTEGER},
      </if>
      <if test="employmentForm != null" >
        #{employmentForm,jdbcType=INTEGER},
      </if>
      now(),
      <if test="creater != null" >
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="agreementId != null">
        #{agreementId,jdbcType=BIGINT},
      </if>
      0
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oa.dto.EmployeeDto" >
    update oa_employee
    <set >
      update_time = now(),
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="customCode != null" >
        custom_code = #{customCode,jdbcType=VARCHAR},
      </if>
      <if test="customPriceNum != null" >
        custom_price_num = #{customPriceNum,jdbcType=DECIMAL},
      </if>
      <if test="customName != null" >
        custom_name = #{customName,jdbcType=VARCHAR},
      </if>
      <if test="joinDate != null" >
        join_date = #{joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payCode != null" >
        pay_code = #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceStatus != null" >
        service_status = #{serviceStatus,jdbcType=INTEGER},
      </if>
      <if test="employmentForm != null" >
        employment_form = #{employmentForm,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="agreementId != null">
        agreement_id = #{agreementId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oa.dto.EmployeeDto" >
    update oa_employee
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      custom_code = #{customCode,jdbcType=VARCHAR},
      custom_price_num = #{customPriceNum,jdbcType=DECIMAL},
      custom_name = #{customName,jdbcType=VARCHAR},
      join_date = #{joinDate,jdbcType=TIMESTAMP},
      pay_code = #{payCode,jdbcType=VARCHAR},
      service_status = #{serviceStatus,jdbcType=INTEGER},
      employment_form = #{employmentForm,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=BIGINT},
      update_time = now(),
      updater = #{updater,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=INTEGER},
      agreement_id = #{agreementId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findEmployeeByPage" resultMap="BaseResultMap1" >
    select
    <include refid="Base_Column_List1" />
    from oa_employee
    where is_del = 0
    <if test="paramMap.code != null and paramMap.code != ''" >
      and code like concat('%',replace(#{paramMap.code,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="paramMap.name != null and paramMap.name != ''" >
      and  name  like concat('%',replace(#{paramMap.name,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="paramMap.idCard != null and paramMap.idCard != ''" >
      and id_card  like concat('%',replace(#{paramMap.idCard,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="paramMap.customName != null and paramMap.customName != ''" >
      and custom_name like concat('%',replace(#{paramMap.customName,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    limit #{offset}, #{limit}
  </select>
  <select id="findEmployeeByPageCount" resultType="java.lang.Integer" >
    select
    count(1)
    from oa_employee
    where is_del = 0
    <if test="paramMap.code != null and paramMap.code != ''" >
      and code like concat('%',replace(#{paramMap.code,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="paramMap.name != null and paramMap.name != ''" >
      and name  like concat('%',replace(#{paramMap.name,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="paramMap.idCard != null and paramMap.idCard != ''" >
      and id_card  like concat('%',replace(#{paramMap.idCard,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="paramMap.customName != null and paramMap.customName != ''" >
      and custom_name like concat('%',replace(#{paramMap.customName,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
  </select>
  <select id="selectEmployeeByMap" resultMap="BaseResultMap1" >
    select
    <include refid="Base_Column_List1" />
    from oa_employee
    where is_del = 0
    <if test="code != null and code != ''" >
      and code like concat('%',replace(#{code,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="name != null and name != ''" >
      and name  like concat('%',replace(#{name,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="idCard != null and idCard != ''" >
      and id_card  like concat('%',replace(#{idCard,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
    <if test="customCode != null and customCode != ''" >
      cand ustom_code like concat('%',replace(#{customCode,jdbcType=VARCHAR},'%','/%'),'%') escape '/'
    </if>
  </select>
  <select id="selectEmployeeByIdCard" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from oa_employee
    where is_del = 0 and id_card = #{idCard,jdbcType=VARCHAR}
  </select>
</mapper>